/* Separating all scripted animations in a separate file kasi ang hassle.
Does not include hover animations.
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body.main {
  opacity: 0;
  transition: opacity .45s 1s ease-out;
}

body.main.loaded {
  opacity: 1;
}

.atf__headline span {
  display: inline-block;
  opacity: 0;
  transform: translateY(8px)
}

body.loaded .atf__headline span:not(.atf__headline_nature) {
  transition-delay: 1.75s;
}

body.loaded .atf__headline_nature {
  transition-delay: 1.3s;
}

body.loaded .atf__headline span {
  transition-property: opacity, transform;
  transition-duration: .45s;
  transition-timing-function: ease-out;
  transform: none;
  opacity: 1;
}
