/* Global Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.global_highlight-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.global_flex-center {
  align-items: center;
  display: flex;
}

.global_justify-center {
  display: flex;
  justify-content: center;
}

.global_display-none {
  display: none
}

/* Body */
body {
  color: #303030;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: #202020;
  text-decoration: none;
  transition: none;
}

section {
  padding: 0 2%;
}

section div {
  max-width: 1100px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Items in the header with shared styles */
.nav__main {
  justify-content: flex-start;
  width: 80%;
}

.nav__connect {
  justify-content: flex-end;
  width: 20%;
}

a:hover {
  transition: color 0.15s ease;
}

/* All - Unique styles */
.web {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header__container {
  background-color: #ffffff;
  height: 70px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: relative;
  width: 95%;
}

@media (min-width: 400px) {
  .header__container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (min-width: 550px) {
  .header__container {
    padding-left: 4%;
    padding-right: 4%;
    width: 92%;
  }
}

@media (min-width: 750px) {
  .header__container {
    padding-left: 6%;
    padding-right: 6%;
    width: 88%;
  }
}

@media (min-width: 1000px) {
  .header__container {
    padding-left: 8%;
    padding-right: 8%;
    width: 84%;
  }
}

.header__container.active {
  background-color: unset;
  transition: background-color .15s ease-in;
}

.header__nav_wrapper {
  justify-content: space-between;
  width: 100%;
}

.nav__popout_icon {
  padding-right: 8px;
}

/* Web - Navigation left */
.web .nav__text {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.4px;
  margin-right: 24px;
}

.nav__popout_menu {
  font-weight: 600;
  margin-right: 28px;
  padding-left: 4px;
}

.nav__main a:hover {
  color: #2ca35e;
}

.nav__main .fa-bars {
  font-size: 1.6rem;
  margin-top: 2px;
  margin-right: 10px;
}

.nav__main_container {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  width: 0;
}

.nav__main_container i,
.nav__main_container_open i {
  margin-right: 10px;
}

.nav__main_container_open {
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.25s ease, width 1.5s 0.25s ease;
  white-space: nowrap;
  width: 100rem;
}

/* Web - Navigation logo */
.nav__logo,
.nav__logo_open {
  margin-right: 24px;
}

.nav__logo img,
.nav__logo_open img {
  height: 36px;
  transition: none;
}

.nav__logo_open img {
  height: 36px;
  transform: scale(1.4);
  transition: all 0.25s 0.25s ease;
}

.logo__text,
.logo__text_closed {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 8px;
  opacity: 1;
  overflow: hidden;
  transition: none;
  white-space: nowrap;
  width: 28.6rem;
}

.logo__text_closed {
  opacity: 0;
  transition: opacity 0.25s ease, width 0.5s;
  width: 0;
}

/* Web - Navigation right */
.nav__connect .fa-circle-notch {
  font-size: 1.35rem;
}

.nav__popout_connect {
  font-weight: 600;
  margin-right: 28px;
  padding-left: 4px;
}

.web .nav__icon {
  padding-right: 15px;
}

.web .email .nav__icon {
  padding-right: 13px;
}

.mobile .nav__icon {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.email {
  font-size: 1.8rem;
}

.facebook:hover {
  color: #4267b2;
}

.email:hover {
  color: #da472a;
}

/* Mobile - Header adjustments */
header.web {
  display: none;
}

header.mobile .header__container {
  position: fixed;
  z-index: 9999;
}

header.mobile .nav__logo img {
  height: 50px;
}

header.mobile .logo__text {
  display: none;
}

@media (min-width: 750px) {
  header.web {
    display: block;
  }

  header.mobile,
  .nav__menu_fullscreen,
  .nav__menu_fullscreen.active {
    display: none;
  }
}

/* Mobile - Nav menu burger icon */
.nav__burger {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 36px;
}

.nav__burger_inner,
.nav__burger_inner::before,
.nav__burger_inner::after {
  background-color: #495057;
  border-radius: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  transition: none;
  width: 36px;
}

.nav__burger_inner::before {
  top: -10px;
}

.nav__burger_inner::after {
  top: 10px;
}

.nav__burger_inner::before,
.nav__burger_inner::after {
  display: block;
  content: "";
  transition: transform .15s ease;
}

/* Mobile - Nav menu text */
.nav__menu,
.nav__menu.active {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-top: 4px;
  transition: none;
  transform: scale(0.9);
}

.nav__menu .nav__text,
.nav__menu.active .nav__text {
  font-size: 1.14rem;
  margin-top: 8px;
}

/* Mobile - Nav menu hovered */
.nav__menu:hover,
.nav__menu.active {
  color: #00c2ac;
  cursor: pointer;
  transition: color 0.15s ease;
}

.nav__menu.active {
  color: #ffffff
}

.nav__menu:hover .nav__burger_inner,
.nav__menu:hover .nav__burger_inner::before,
.nav__menu:hover .nav__burger_inner::after {
  background-color: #00c2ac;
}

/* Mobile - Nav menu active */
.nav__menu.active .nav__burger_inner {
  background-color: transparent;
}

.nav__menu.active .nav__burger_inner::before,
.nav__menu.active .nav__burger_inner::after {
  top: 0;
  background-color: #ffffff;
  transition: transform .15s ease, background-color 0.15s ease;
}

.nav__menu.active .nav__burger_inner::before {
  transform: rotate(-45deg);
}

.nav__menu.active .nav__burger_inner::after {
  transform: rotate(45deg);
}

.nav__menu.active .nav__text.menu,
.nav__menu .nav__text.close {
  display: none;
}

.nav__menu.active .nav__text.close,
.nav__menu .nav__text.menu {
  display: block
}

/* Mobile - Nav menu overlay */
.nav__menu_fullscreen,
.nav__menu_fullscreen.active {
  background-color: #00c2ac;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__menu_fullscreen {
  opacity: 0;
  z-index: -9999;
}

.nav__menu_fullscreen.active {
  opacity: 1;
  z-index: 9998;
  transition: opacity .15s ease;
}

/* Mobile - Nav menu overlay contents */
.nav__menu_fullscreen.active .nav__menu_contents,
.nav__menu_fullscreen.active .nav__menu_connect,
.nav__menu_fullscreen.active .nav__menu_numbers {
  margin-left: 2%;
  margin-right: 2%;
}

@media (min-width: 400px) {

  .nav__menu_fullscreen.active .nav__menu_contents,
  .nav__menu_fullscreen.active .nav__menu_connect,
  .nav__menu_fullscreen.active .nav__menu_numbers {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 550px) {

  .nav__menu_fullscreen.active .nav__menu_contents,
  .nav__menu_fullscreen.active .nav__menu_connect,
  .nav__menu_fullscreen.active .nav__menu_numbers {
    margin-left: 4%;
    margin-right: 4%;
  }
}

@media (min-width: 750px) {

  .nav__menu_fullscreen.active .nav__menu_contents,
  .nav__menu_fullscreen.active .nav__menu_connect,
  .nav__menu_fullscreen.active .nav__menu_numbers {
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media (min-width: 1000px) {

  .nav__menu_fullscreen.active .nav__menu_contents,
  .nav__menu_fullscreen.active .nav__menu_connect,
  .nav__menu_fullscreen.active .nav__menu_numbers {
    margin-left: 8%;
    margin-right: 8%;
  }
}

.nav__menu_contents {
  display: flex;
  flex-direction: column;
  height: calc(64% - 40px);
  justify-content: space-evenly;
  margin-top: 40px;
}

.nav__menu_connect,
.nav__menu_numbers {
  display: flex;
  flex-flow: column;
  height: calc(23% - 40px);
}

@media (min-height: 450px) {
  .nav__menu_contents {
    height: calc(64% - 70px);
    margin-top: 70px;
  }

  .nav__menu_connect,
  .nav__menu_numbers {
    height: calc(23% - 70px);
  }
}

.nav__menu_connect {
  justify-content: flex-end;
}

.nav__menu_numbers {
  letter-spacing: 1.1px;
  justify-content: flex-start;
  text-align: center;
}

.nav__menu_fullscreen.active a,
.nav__menu_contents i,
.nav__menu_numbers .copyright {
  color: #ffffff;
}

.nav__menu_contents i {
  opacity: 0;
  transition: all .15s ease;
}

.nav__menu_contents a:hover i {
  opacity: 1;
  transition: all 0.15 ease;
}

.nav__menu_numbers a:hover,
.nav__menu_numbers .copyright {
  opacity: .7;
}

.nav__content-text {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
}

.nav__menu_fullscreen .nav__content-text {
  opacity: 0;
  transition: none;
  width: 0;
}

.nav__menu_fullscreen.active .nav__content-text {
  width: 230px;
  opacity: 1;
}

@media (min-width: 400px) {
  .nav__menu_fullscreen.active .nav__content-text {
    width: 250px;
  }
}

@media (min-width: 550px) {
  .nav__menu_fullscreen.active .nav__content-text {
    width: 330px;
  }
}

@media (min-width: 750px) {
  .nav__menu_fullscreen.active .nav__content-text {
    width: 350px;
  }
}

.nav__menu_fullscreen.active .nav__content-text.clients {
  transition: all .35s ease-out;
}

.nav__menu_fullscreen.active .nav__content-text.services {
  transition: all .35s .35s ease-out;
}

.nav__menu_fullscreen.active .nav__content-text.quote {
  transition: all .35s .70s ease-out;
}

/* Mobile - Nav menu content font sizes */
.nav__menu_contents,
.nav__menu_connect a {
  font-size: 2rem;
  letter-spacing: 3px;
}

.nav__menu_numbers {
  font-size: 1.2rem;
}

@media (min-width: 400px) {

  .nav__menu_contents,
  .nav__menu_connect a {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}

@media (min-width: 550px) {

  .nav__menu_contents,
  .nav__menu_connect a {
    font-size: 2.35rem;
    letter-spacing: 7px;
  }

  .nav__menu_numbers {
    font-size: 1.35rem;
  }
}

/* Site Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Landing page */
.atf {
  align-items: center;
  background: linear-gradient(rgba(0, 255, 180, 0.38),
    rgba(200, 215, 50, 0.28)),
    url("/images/atf.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: calc(100vh - 70px);
  padding-top: 70px;
  text-shadow: 0px 2px 4px #000000;
  transition: none;
  transform: none;
}

@media (min-width: 1281px) {
  .atf {
    transform: scale(1.1);
  }
}

/* Headline */
.atf__headline {
  text-align: center;
}

.atf__button span {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .75px;
}

.atf__headline h1 {
  font-size: 3.6rem;
  letter-spacing: 0.015rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (min-width: 400px) {
  .atf__headline h1 {
    font-size: 4.15rem;
    margin-bottom: .5rem;
  }
}

@media (min-width: 768px) {
  .atf__headline h1 {
    font-size: 5rem;
    margin-bottom: 2.5rem;
  }
}

.atf__bottom-hedge img {
  bottom: calc(-15vw - 6vh);
  left: 0;
  position: absolute;
  width: 100%;
}

@media(min-width: 768px) and (orientation: landscape) {
  .atf__bottom-hedge img {
    bottom: -18vw;
  }
}

@media(orientation: portrait) {
  .atf__bottom-hedge img {
    bottom: -5vh;
  }
}

.atf__button {
  border: 1px solid #0096ed;
  display: flex;
  justify-content: center;
  margin: 0px 8px 8px 8px;
  overflow: hidden;
  padding: 1rem 2.35rem;
  position: relative;
  white-space: nowrap;
  width: 90%;
}

@media(min-width: 768px) {
  .atf__button {
    margin: 0px 8px;
    width: 150px;
  }
}

.atf__button-text {
  font-weight: 700;
  text-shadow: 0px 2px 3px #000000;
  transition: transform .1s ease, text-shadow .15s 0s ease-in-out;
  z-index: 2;
}

.atf__button:hover {
  cursor: pointer;
}

.atf__button:hover .atf__button-text {
  text-shadow: none;
  transform: translateY(1px);
}

.atf__button:hover:after {
  height: 100%;
  width: 155%;
}

.atf__button:after {
  background-color: #0096ed;
  content: '';
  left: -35%;
  position: absolute;
  top: 0;
  transform: skew(45deg);
  transform-origin: top-left;
  transition: all .45s ease-in-out;
  width: 0;
  z-index: 1;
}

.atf__button-set {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 9996;
}

@media(min-width: 768px) {
  .atf__button-set {
    width: 100%;
    flex-flow: row
  }
}

/* Clients
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Header */
.clients__header {
  align-items: flex-end;
  background-color: #f2f6f7;
  display: inline-flex;
  width: 100%;
}

.clients__header {
  padding: 32px 60px;
}

/* Content */
.clients__header_content {
  display: block;
  max-width: 70%;
}

.clients__header_content h1,
.clients__list_content h1 {
  margin-bottom: 1rem;
}

.clients__header_content h2,
.clients__list_content h2 {
  font-size: 2rem;
  margin: .5rem 0;
}

.clients__header_content h3,
.clients__list_content h3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
}

/* Clients list */
.clients__list {
  list-style-type: none;
}

.clients__list_li {
  background-color: #0beb89;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 150px;
  margin-bottom: 0;
}

.clients__list_li:nth-child(even) {
  background-color: #0b96eb;
}

.clients__list_li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: rgba(255, 255, 255, .5);
}

.clients__list_li:hover:before,
.clients__list_li:nth-child(even):hover:before {
  transition: transform 1.2s ease;
}

.clients__list_li:hover:before {
  transform: translateX(150%) skew(45deg);
}

.clients__list_li:nth-child(even):hover:before {
  transform: translateX(-150%) skew(45deg);
}

.clients__list_content_details_more {
  display: none;
}

.clients__list_content {
  width: 70%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 60px;
  padding-right: 0px;
  text-align: left;
  z-index: 9999;
}

.clients__list_logo {
  width: 30%;
  height: 100%;
  display: flex;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 60px;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;
}

.clients__list_li:nth-child(even) .clients__list_content {
  padding-left: 0px;
  padding-right: 60px;
  text-align: left;
}

.clients__list_li:nth-child(even) .clients__list_logo {
  padding-left: 60px;
  padding-right: 15px;
}

.clients__list_logo_outer-circle {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  z-index: 5;
}

.clients__list .clients__list_logo img {
  max-width: 55%;
  image-rendering: crisp-edges;
  outline: 1px solid transparent;
}

.clients__list_li:hover {
  cursor: pointer !important;
}

.clients__list_li:hover img {
  transition: opacity .5s ease;
}

.clients__list_li:hover .clients__list_logo_outer-circle {
  transform: scale(1.12);
  transition: transform .5s ease;
}

.clients__list_logo_img:not(.clients__list_logo_bw) {
  position: absolute;
  width: 150px;
  height: auto;
  opacity: 0;
}

.clients__list_li:hover .clients__list_logo_bw {
  opacity: 0;
}

.clients__list_li:hover :not(.clients__list_logo_bw) {
  opacity: 1;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* stylelint-disable */
@media (min-width: 400px) {}

/* Larger than phone/tablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* stylelint-enable */
